@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;;
}

img {
    width: 100%;
}

:root {
    --main-color : #F7A823;
    --second-color : #417EC1;
    --third-color : white;
}

::selection {
    background-color: var(--second-color);
    color: var(--third-color);
}

html {
    scroll-behavior: smooth;
}

/*********HOME**********/

.home {
    height: 100vh;
    background-color: var(--main-color);
    color: var(--third-color);
}

.home nav {
    padding-right: 4%;
    padding-top: 1.5%;
}

.home ul {
    display: flex;
    justify-content: flex-end;
    gap: 3em;
}

.home li {
    font-size: 1.25em;
    height: 5vh;
}

.home li a {
    color : var(--third-color);
}

.home li:hover a {
    color: var(--second-color);
    transition: 0.2s;
}

.home li:hover {
    border-bottom: 4px solid var(--second-color);
    transition: 0.2s;
}

.home h1 {
    font-size: 5em;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    margin-top: 13%;
    font-family: 'Montserrat', sans-serif;
}

.home i {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.25em;
}

/**********QUI SUIS-JE*************/

.description {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description .illustrationLouise {
    width: 15vw;
}

.description article {
    width: 30vw;
}

.description h2 {
    color : var(--main-color);
    font-size: 2em;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

/**************BULLES*****************/

.illustrationLouise {
    cursor: pointer;
}

.bullesNavi {
    position: absolute;
    top: 150%;
}

.bulle {
    position: relative;
    width: 10vw;
    z-index: 5;
    display: none;
}

.hey {
    position: absolute;
    left: 5vw;
    top: -28vh;
}

.look {
    position: absolute;
    left: 11vw;
    top: -18vh;
}

.listen {
    position: absolute;
    left: 12vw;
    top: -8vh;
}

.watch {
    position: absolute;
    left: -10vw;
    top: -14vh;
}

.hello {
    position: absolute;
    left: -8vw;
    top: -25vh;
}

/***********CONTACT**********/

.contact {
    height: 100vh;
    background-color: var(--main-color);
    color: var(--third-color);
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 10%;
}

.contact header {
    height: 5vh;
    font-size: 2em;
    padding: 1%;
}

.contact a {
    color: var(--third-color);
}

.contact h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.contact main {
    padding-top: 5vh;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact button {
    width: 40%;
    align-self: flex-end;
}

.contact textarea {
    resize: none;
    width: 100%;
}

.contact input, .contact textarea {
    border: 3px solid var(--third-color);
    background-color: var(--main-color);
}

.contact input {
    height: 5vh;
    padding: 2%;
}

.contact textarea {
    height: 25vh;
}

.contact ::placeholder {
    color: var(--third-color);
}

.contact button {
    background-color: var(--third-color);
    color: var(--main-color);
    height: 5vh;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

/**********FORMATIONS*********/

.formations {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formations h2 {
    padding-top: auto;
    padding-bottom: auto;
    color: var(--main-color);
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
}

.friseFormations {
    width: 100%;
    /*height: 70%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formations .friseChrono {
    height: 1vh;
    width: 45%;
    background-color: var(--main-color);
}

.noms {
    width: 45%;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-around;
}

.boutonsFrise {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -1vh;
}

.rond {
    width: 3vh;
    height: 3vh;
    background-color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

.friseTemps {
    justify-self: left;
    width: 62.5%;
    height: 100%;
    background-color: red;
    position: relative;
    top: -1vh;
}

.formationDescription {
    position: relative;
    top: 8%;
    width: 100%;
}


.formationCard {
    display: none;
    width: 25vw;
    background-color: #FBFCDF;
    padding: 2%;
    border-radius: 20px;
    line-height: 1.5em;
    position: relative;
    box-shadow: 1px 4px 7px 0 rgba( 0, 0, 0, .4 );;
}

.formationCard li {
    list-style-type: " - ";
    list-style-position: inside;
    padding-left: 5%;
}


.formationCard::before {
    content: "";
    height: 30px;
    width: 30px;
    background-color: #FBFCDF;
    position: absolute;
    top: -14px;
    /*left: 6.5vw;*/
    z-index: 2;
    transform: rotate(-225deg);
    /*box-shadow: -2px 0.5px 0.5px 0 rgba( 0, 0, 0, .2 );*/
    border-bottom: 0.5px solid rgba( 0, 0, 0, .05 );
    border-left: 0.5px solid rgba( 0, 0, 0, .05 );
}

.formationCard h3 {
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

.formationCard h4 {
    color: #DE8195;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    /*font-weight: lighter;*/
    font-size: 0.80em;
}

.formationCard h5 {
    font-size: 1em;
    font-weight: 500;
}


.formationCard.bacS {
    left: calc(29% - 4vw);
}

.formationCard.bacS::before {
    /*position: absolute;*/
    left: 7.25vw;
}

.formationCard.dutmmi {
    left: calc(42% - 4vw);
}

.formationCard.dutmmi::before {
    left: 5.5vw;
}

.formationCard.lpmiaw {
    left: 45%;
}

.formationCard.lpmiaw::before {
    left: 9.5vw;
}

.formationCard.ynov {
    left: 50%;
}

.formationCard.ynov::before {
    left: 16vw;
}

